.cart-item {
  padding: 14px 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.summary {
  color: #858789;
  display: flex;
  align-items: center;
}

.price {
  font-size: 16px;
  margin-right: 8px;
}

.amount {
  border: 1px solid #858789;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}

.actions {
  display: flex;
}

.cart-item button {
  font: inherit;
  font-size: 18px;
  color: #ee4c14;
  border: 1px solid #ee4c14;
  width: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

@media (hover: hover) {
  .cart-item button:hover {
    background-color: #ee4c14;
    color: white;
  }
}

@media (hover: none) {
  .cart-item button:active {
    background-color: #ee4c14;
    color: white;
  }
}
