.cart-item {
  /* background-color: #292c31; */
  /* border-radius: 14px; */
  padding: 14px 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.summary {
  /* border: 1px gray solid; */
  color: #858789;
  display: flex;
  align-items: center;
}

.price {
  font-size: 16px;
  margin-right: 8px;
}

.amount {
  border: 1px solid #858789;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 6px;
}

.actions {
  display: flex;
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ee4c14;
  border: 1px solid #ee4c14;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

@media (hover: hover) {
  .cart-item button:hover {
    background-color: #ee4c14;
    color: white;
  }
}

@media (hover: none) {
  .cart-item button:active {
    background-color: #ee4c14;
    color: white;
  }
}
