.container {
  max-width: 320px;
  width: 100%;
  height: 100%;
  margin: auto;
  animation: fade-in 300ms ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 8px 0;
}

.form {
  width: 100%;
  padding: 18px 0;
}

.control {
  margin-bottom: 10px;
}

.control label {
  font-size: 16px;
  margin-bottom: 4px;
  display: inline-block;
}

.control input {
  display: block;
  background-color: transparent;
  color: white;
  font: inherit;
  border: 1px solid #545658;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.control input:focus {
  border-color: white;
}

.control p {
  color: #f11c1c;
  font-size: 14px;
  visibility: hidden;
}

.actions {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.actions button {
  font: inherit;
  color: #ee4c14;
  cursor: pointer;
  background-color: transparent;
  border: 1px #ee4c14 solid;
  border-radius: 25px;
  padding: 8px 24px;
  margin: 0 8px;
}

.actions .submit {
  background-color: #ee4c14;
  color: white;
}

.invalid p {
  visibility: visible;
}

.invalid input,
.invalid input:focus {
  border-color: #f11c1c;
}

@media (hover: hover) {
  .actions button:hover {
    background-color: #ee4c14;
    color: white;
  }

  .actions .submit:hover {
    background-color: #a6350e;
    border-color: #a6350e;
  }
}

@media (hover: none) {
  .actions button:active {
    background-color: #ee4c14;
    color: white;
  }

  .actions .submit:active {
    background-color: #a6350e;
    border-color: #a6350e;
  }
}
