.meal {
  background-color: #202327;
  color: white;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 14px;
}

.meal .title {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.price {
  color: #ee4c14;
  font-size: 20px;
  font-weight: 400;
}
