.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #e71407; */
  color: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
  z-index: 10;
}

.header .container {
  /* border: 1px white solid; */
  max-width: 840px;
  width: 100%;
  padding: 14px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 28px;
  font-weight: 400;
}

.header h1 span {
  color: #ee4c14;
}
