.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 12vh;
  left: 0;
  right: 0;
  max-width: 812px;
  width: 85%;
  height: 76vh;
  background-color: #12151b;
  color: white;
  padding: 14px;
  margin: auto;
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  /* border: 1px green solid; */
  height: 100%;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
